In [50]:
import urllib
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from pymongo import MongoClient
import pandas as pd
import numpy as np
# Set display options to show all columns without truncation
import pandas as pd

pd.set_option('display.max_columns', None)

In [ ]:
# # Load connection parameters
# pwd    = config.pwd
# user   = config.user
# db     = config.db
# port   = config.port
# host   = config.host
# schema = config.schema
# mongo_user     = config.mongo_user
# mongo_password = config.mongo_password


pwd    = 'L}wtW3=e'
user   = 'postgres'
db     = 'parrotdb'
port   =  5432
host   = ''
schema = 'analytics'

# my_fastapi_app = FastAPI()

# connect to the postgres database
engine = create_engine(f"postgresql://{user}:{pwd}@{host}:{port}/{db}")
conn   = engine.raw_connection()
cursor = conn.cursor()

# # MongoDB connection details
# connection_string = f"mongodb+srv://{mongo_user}:{mongo_password}@cluster0.xtqally.mongodb.net/?retryWrites=true&w=majority"
# client = pymongo.MongoClient(connection_string)
# db = client["staging"]  # Replace with your database name
# # reviews_collection = db["reviews"]
# # category_collection = db["category"]

In [ ]:
db = client["staging"]  # Replace with your database name

In [ ]:
database_names = client.list_database_names()

# Print collections for each database
for db_name in database_names:
    db_ = client[db_name]
    collections = db_.list_collection_names()
    
    print(f"Database: {db_name}")
    print(f"Collections: {collections}")
    print("\n")

# Close the MongoDB connection
# client.close()

Database: dev
Collections: ['businesses', 'categories', 'admins', 'bookmarks', 'formmodels', 'replies', 'businessproductandsocialmedias', 'reviews', 'media', 'payments', 'plans', 'users', 'verifications', 'businessproductandsocials', 'offers', 'businessverificationdocs', 'emails', 'seededregistries', 'subcategories', 'businessmedias', 'businesshours', 'businessprofiles']


Database: production
Collections: ['businesses', 'categories', 'subcategories', 'businessverificationdocs', 'emails', 'users', 'offers', 'seededregistries', 'bookmarks', 'production', 'media', 'reviews', 'verifications', 'replies', 'businessproductandsocials', 'businesshours', 'admins', 'payments', 'businessmedias', 'plans', 'Medias']


Database: staging
Collections: ['businesses', 'payments', 'replies', 'admins', 'businesshours', 'subcategories', 'plans', 'offers', 'businessmedias', 'businessproductandsocials', 'emails', 'media', 'bookmarks', 'reviews', 'seededregistries', 'categories', 'formmodels', 'verifications', 'Medias', 'businessverificationdocs', 'users']


Database: test
Collections: ['test']


Database: admin
Collections: []


Database: local
Collections: ['oplog.rs']

In [ ]:
#function to extract and standardized the rating object
# This code became obsolete after the source MongoDB restructuring
def extract_rating(data):
    result = []
    for document in data:
        try:
            # Extract the 'rating' object
            rating_objects = document.get('rating', [])

            # Flatten the 'rating' object into a dictionary
            flattened_rating = {key: value for rating_object in rating_objects for key, value in rating_object.items()}

            # Update the original data with the flattened 'rating'
            document['rating'] = flattened_rating

            result.append(document)
        except:
            pass
        
    return result

In [ ]:
# truncate table
def truncate_table(table_name):
    try:
        # Construct the SQL query to truncate the table
        truncate_query = f"TRUNCATE TABLE analytics.{table_name};"
        cursor.execute(truncate_query)
        conn.commit()
        print(f"Table '{table_name}' truncated successfully.")

    except Exception as e:
        #conn.commit()
        print(f"Error: {e}")

In [ ]:
#### <<<< The source changed so much the logic had to be chnaged >>>> ####

##metric map
# metric_map = {
#        '655168f86137c752e8ba4f04': ['equipment_quality', 'classes_and_programs', 'accessibility', 'customer_service'],
#        '655168fa6137c752e8ba4f8e': ['session_quality', 'organization', 'safety_and_security', 'networking_and_interaction']
#     }

# # old calculate_rating_score(row)
# def calculate_rating_score(row):
#     if row['businesscategory'] == "655168f86137c752e8ba4f04":
#         metrics = [row['equipment_quality'], row['classes_and_programs'], row['accessibility'], row['customer_service']]
        
#     elif row['businesscategory'] == "655168fa6137c752e8ba4f8e":
#         metrics = [row['session_quality'], row['organization'], row['safety_and_security'], row['networking_and_interaction']]
            
#     else:
#         return np.nan

#     return round(np.nanmean(metrics), 1)

In [ ]:
# #new metric_map
# metric_map = {
#        '655168f86137c752e8ba4f04': ['quickdelivery', 'safety'],
#        '655168fa6137c752e8ba4f8e': ['session_quality', 'organization', 'safety_and_security', 'networking_and_interaction'],
#        '655168fb6137c752e8ba4fd0': ['product_quality', 'customer_service', 'buying_experience', 'packaging'],
#        '659bf2805e1bc673d7db46f9': ['quickdelivery', 'value'],
#        '659bf2815e1bc673d7db471a': ['service_quality', 'customer_service', 'professionalism', 'cleanliness_and_ambience']    
#     }

# def calculate_rating_score_and_metrics(row):
#     metrics = metric_map.get(row['businesscategory'], [np.nan, np.nan, np.nan, np.nan])
#     scores = [row[metric] for metric in metrics]
#     rating_score = round(np.nanmean(scores), 1)
#     return (rating_score, scores)

# # old calculate_rating_score(row)
# def calculate_rating_score(row):
#     if row['businesscategory'] == "655168f86137c752e8ba4f04":
#         metrics = [row['quickdelivery'], row['safety']]
        
#     elif row['businesscategory'] == "655168fa6137c752e8ba4f8e":
#         metrics = [row['session_quality'], row['organization'], row['safety_and_security'], row['networking_and_interaction']]

#     elif row['businesscategory'] == "655168fb6137c752e8ba4fd0":
#         metrics = [row['product_quality'], row['customer_service'], row['buying_experience'], row['packaging']]

#     elif row['businesscategory'] == "659bf2805e1bc673d7db46f9":
#         metrics = [row['quickdelivery'], row['value']]

#     elif row['businesscategory'] == "659bf2815e1bc673d7db471a":
#         metrics = [row['service_quality'], row['customer_service'], row['professionalism'], row['cleanliness_and_ambience']]        
        
#     else:
#         return np.nan

#     return round(np.nanmean(metrics), 1)

#new metric_map
#Another change
# metric_map = {
#        '655168fa6137c752e8ba4f8e': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],
#        '655168fb6137c752e8ba4fd0': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
#        '659bf2815e1bc673d7db471a': ['Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience'],
#        '659bf2805e1bc673d7db46f9': ['Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism'],
#        '659bf2825e1bc673d7db479a': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],
#        '659bf2825e1bc673d7db4776': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction']      
#     }

#new metric_map
metric_map = {
       '659bf2825e1bc673d7db479a': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],    
       '659bf2825e1bc673d7db4776': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
       '659bf2815e1bc673d7db471a': ['Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience'],
       '659bf2805e1bc673d7db46f9': ['Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism']    

#        '655168fa6137c752e8ba4f8e': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],
#        '655168fb6137c752e8ba4fd0': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
    }

# def calculate_rating_score_and_metrics(row):
#     metrics = metric_map.get(row['businessCategory'], [np.nan, np.nan, np.nan, np.nan])
#     scores = [row[metric] for metric in metrics]
#     rating_score = round(np.nanmean(scores), 1)
#     return (rating_score, scores)


# calculate_rating_score(row)
def calculate_rating_score(row):
    if row['businessCategory'] == "659bf2825e1bc673d7db479a":
        metrics = [row['Session Quality'], row['Organization'], row['Safety & Security'], row['Networking & Interaction']]
        
    elif row['businessCategory'] == "659bf2825e1bc673d7db4776":
        metrics = [row['Product Quality'], row['Customer Service'], row['Buying Experience'], row['Packaging']]

    elif row['businessCategory'] == "659bf2815e1bc673d7db471a":
        metrics = [row['Service Quality'], row['Customer Service'], row['Professionalism'], row['Cleanliness & Ambience']]

    elif row['businessCategory'] == "659bf2805e1bc673d7db46f9":
        metrics = [row['Customer Service'], row['Appointment Flexibility'], row['Wait Time'], row['Professionalism']]

#     elif row['businessCategory'] == "659bf2825e1bc673d7db479a":
#         metrics = [row['Session Quality'], row['Organization'], row['Safety & Security'], row['Networking & Interaction']]        
        
    else:
        return np.nan

    return round(np.nanmean(metrics), 1)

# Function to determine parrot_score_likert_scale_grade
def parrot_score_grade(score):
    if score <= 1.4:
        return 'Extremely Poor'
    elif 1.5 <= score <= 1.9:
        return 'Very Poor'
    elif 2.0 <= score <= 2.4:
        return 'Poor'
    elif 2.5 <= score <= 2.9:
        return 'Below Average'  
    elif 3.0 <= score <= 3.4:
        return 'Average'
    elif 3.5 <= score <= 3.9:
        return 'Above Average'
    elif 4.0 <= score <= 4.4:
        return 'Good'
    elif 4.5 <= score <= 4.9:
        return 'Very Good'
    elif score >= 5.0:
        return 'Excellent'
    else:
        return None

# def calculate_likert_scale(score):
#     # This is the same as parrot_score_grade function
#     return parrot_score_grade(score)

In [ ]:
# def parrot_score_mongo()  # -- Old Name
def parrot_business_profile():
    #process reviews collection into a dataframe
    #reviews_data  = list(db["reviews"].find())
    #reviews_data = extract_rating(reviews_data)
    #reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().lower().replace("&",'and').replace(".",'').replace("rating",'').replace(" ",'_')) #previous conditions
    #reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().lower().replace("&",'and').replace(" ",'_').replace(".",'_').replace("rating_",'').replace("0_",'').replace("1_",'').replace("2_",'').replace("3_",''))

    #new modification
    reviews_data  = list(db["reviews"].find())
    # reviews_data = extract_rating(reviews_data) #Not needed anymore
    reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
    del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
    reviews_df = reviews_df.drop(columns=del_cols, axis=1)

        
    # convert key columns to string
    reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
    reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
    reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  
    reviews_df

    #process reviews collection into a dataframe
    category_data = list(db["categories"].find()) 
    category_df = pd.DataFrame(category_data)

    # convert key columns to string
    category_df['_id'] = category_df['_id'].astype(str).str.strip()

    ## Process the data for parrot scores
    reviews_df['rating_score'] = reviews_df.apply(calculate_rating_score, axis=1)

    # Group by 'business_id' and 'category_id' and aggregate
    aggregate_scores = reviews_df.groupby(['business', 'businessCategory']).agg(
                                                parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                                review_count=('_id', 'count'),        # Count of all records
                                                user_count  =('user', 'nunique')      # Count of distinct user IDs
                                            ).reset_index()

    merged_df = pd.merge(aggregate_scores, category_df, left_on='businessCategory', right_on='_id', how='left')
    #apply the liker_scale interpretation of the parrot_score
    merged_df['parrot_score_likert_scale_grade'] = merged_df['parrot_score'].apply(parrot_score_grade)

    # Selecting required columns
    result_df = merged_df[['business', 'businessCategory', 'name', 'review_count', 'user_count', 'parrot_score', 'parrot_score_likert_scale_grade']]
    
    result_df = result_df.rename(columns={'name': 'category_name'})
    
    # Convert final DataFrame to JSON
    result = result_df.to_dict(orient='records')
    
    return result, result_df

In [ ]:
result, result_df = parrot_business_profile()

C:\Users\seyi\AppData\Local\Temp/ipykernel_1900/144871709.py:87: RuntimeWarning: Mean of empty slice
  return round(np.nanmean(metrics), 1)
C:\Users\seyi\AppData\Local\Temp/ipykernel_1900/74387547.py:35: RuntimeWarning: Mean of empty slice
  parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score

In [ ]:
result

[{'business': '6553433d0dff2bc9d88c36be',
  'businessCategory': '659bf2825e1bc673d7db4776',
  'category_name': 'Electronics & Gadgets',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': 3.5,
  'parrot_score_likert_scale_grade': 'Above Average'},
 {'business': '6555d12895dac0d986f28340',
  'businessCategory': '659bf2825e1bc673d7db479a',
  'category_name': 'Event & Conferences',
  'review_count': 2,
  'user_count': 1,
  'parrot_score': 3.0,
  'parrot_score_likert_scale_grade': 'Average'},
 {'business': '659bf32d5e1bc673d7db490d',
  'businessCategory': '659bf2805e1bc673d7db46f9',
  'category_name': 'Banking And Finance',
  'review_count': 17,
  'user_count': 7,
  'parrot_score': 3.5,
  'parrot_score_likert_scale_grade': 'Above Average'},
 {'business': '659bf59f5e1bc673d7db4955',
  'businessCategory': '659bf2805e1bc673d7db46f9',
  'category_name': 'Banking And Finance',
  'review_count': 19,
  'user_count': 4,
  'parrot_score': 2.2,
  'parrot_score_likert_scale_grade': 'Poor'},
 {'business': '659c15776932fc2cfbcaedf6',
  'businessCategory': '659bf2825e1bc673d7db479a',
  'category_name': 'Event & Conferences',
  'review_count': 20,
  'user_count': 2,
  'parrot_score': 3.4,
  'parrot_score_likert_scale_grade': 'Average'},
 {'business': '659c206fdbb315fedaeb5072',
  'businessCategory': '659bf2815e1bc673d7db471a',
  'category_name': 'Beauty And Well Being',
  'review_count': 46,
  'user_count': 11,
  'parrot_score': 3.0,
  'parrot_score_likert_scale_grade': 'Average'},
 {'business': '659ec068c11598976fb7c114',
  'businessCategory': '659bf2815e1bc673d7db4736',
  'category_name': 'Business Services',
  'review_count': 7,
  'user_count': 5,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '659ee3ff0b02a0143ec9876f',
  'businessCategory': '659bf2805e1bc673d7db46f9',
  'category_name': 'Banking And Finance',
  'review_count': 5,
  'user_count': 2,
  'parrot_score': 3.4,
  'parrot_score_likert_scale_grade': 'Average'},
 {'business': '65a91454d5820238d08ed10b',
  'businessCategory': '659bf2805e1bc673d7db46f9',
  'category_name': 'Banking And Finance',
  'review_count': 2,
  'user_count': 1,
  'parrot_score': 2.5,
  'parrot_score_likert_scale_grade': 'Below Average'},
 {'business': '65a9b844da63216cd3c55f92',
  'businessCategory': '659bf2805e1bc673d7db46f9',
  'category_name': 'Banking And Finance',
  'review_count': 2,
  'user_count': 1,
  'parrot_score': 4.0,
  'parrot_score_likert_scale_grade': 'Good'},
 {'business': '65b0d4b848a60b0d34290d6b',
  'businessCategory': '659bf2805e1bc673d7db46f9',
  'category_name': 'Banking And Finance',
  'review_count': 7,
  'user_count': 2,
  'parrot_score': 2.6,
  'parrot_score_likert_scale_grade': 'Below Average'},
 {'business': '65b23fae3d56fd7e6272dc26',
  'businessCategory': '659bf2815e1bc673d7db4752',
  'category_name': 'Construction',
  'review_count': 8,
  'user_count': 2,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65b245d1799b8a7fb2afc7be',
  'businessCategory': '659bf2835e1bc673d7db47ac',
  'category_name': 'Fashion & Apparel',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65ba18a9b2ac046088bb6fb7',
  'businessCategory': '659bf2825e1bc673d7db4764',
  'category_name': 'Education & Training',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65ba6b0eb2ac046088bb87c3',
  'businessCategory': '659bf2825e1bc673d7db4764',
  'category_name': 'Education & Training',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65bd165e61694388762d2a33',
  'businessCategory': '659bf2815e1bc673d7db4736',
  'category_name': 'Business Services',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c0f6f0eb56ef9dc2b8057d',
  'businessCategory': '659bf2835e1bc673d7db47ac',
  'category_name': 'Fashion & Apparel',
  'review_count': 6,
  'user_count': 3,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c10161eb56ef9dc2b80d43',
  'businessCategory': '659bf2835e1bc673d7db47ac',
  'category_name': 'Fashion & Apparel',
  'review_count': 10,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c1f2a7f04ef8f7c41cd185',
  'businessCategory': '659bf2835e1bc673d7db47ac',
  'category_name': 'Fashion & Apparel',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c34b2d379f4feaceceff7e',
  'businessCategory': '659bf2835e1bc673d7db47ac',
  'category_name': 'Fashion & Apparel',
  'review_count': 3,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c34e5e379f4feacecf0393',
  'businessCategory': '659bf2835e1bc673d7db47d0',
  'category_name': 'Food Vendors',
  'review_count': 9,
  'user_count': 3,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c37856dbeaaa0ff5a7934d',
  'businessCategory': '659bf2815e1bc673d7db4736',
  'category_name': 'Business Services',
  'review_count': 2,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65c40525fcc587c98de016af',
  'businessCategory': '659bf2825e1bc673d7db4776',
  'category_name': 'Electronics & Gadgets',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': 3.5,
  'parrot_score_likert_scale_grade': 'Above Average'},
 {'business': '65c4dc8f1f9ea85550ec3fba',
  'businessCategory': '659bf2825e1bc673d7db4764',
  'category_name': 'Education & Training',
  'review_count': 5,
  'user_count': 3,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None},
 {'business': '65ca56f65718b57cc66bf31b',
  'businessCategory': '659bf2825e1bc673d7db479a',
  'category_name': 'Event & Conferences',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': 3.8,
  'parrot_score_likert_scale_grade': 'Above Average'},
 {'business': '65cfd5a0c069c2326728db66',
  'businessCategory': '659bf2815e1bc673d7db4736',
  'category_name': 'Business Services',
  'review_count': 1,
  'user_count': 1,
  'parrot_score': nan,
  'parrot_score_likert_scale_grade': None}]

In [ ]:
result_df

,business,businessCategory,category_name,review_count,user_count,parrot_score,parrot_score_likert_scale_grade
0,6553433d0dff2bc9d88c36be,659bf2825e1bc673d7db4776,Electronics & Gadgets,1,1,3.5,Above Average
1,6555d12895dac0d986f28340,659bf2825e1bc673d7db479a,Event & Conferences,2,1,3.0,Average
2,659bf32d5e1bc673d7db490d,659bf2805e1bc673d7db46f9,Banking And Finance,17,7,3.5,Above Average
3,659bf59f5e1bc673d7db4955,659bf2805e1bc673d7db46f9,Banking And Finance,19,4,2.2,Poor
4,659c15776932fc2cfbcaedf6,659bf2825e1bc673d7db479a,Event & Conferences,20,2,3.4,Average
5,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,Beauty And Well Being,46,11,3.0,Average
6,659ec068c11598976fb7c114,659bf2815e1bc673d7db4736,Business Services,7,5,NaN,None
7,659ee3ff0b02a0143ec9876f,659bf2805e1bc673d7db46f9,Banking And Finance,5,2,3.4,Average
8,65a91454d5820238d08ed10b,659bf2805e1bc673d7db46f9,Banking And Finance,2,1,2.5,Below Average
9,65a9b844da63216cd3c55f92,659bf2805e1bc673d7db46f9,Banking And Finance,2,1,4.0,Good
10,65b0d4b848a60b0d34290d6b,659bf2805e1bc673d7db46f9,Banking And Finance,7,2,2.6,Below Average
11,65b23fae3d56fd7e6272dc26,659bf2815e1bc673d7db4752,Construction,8,2,NaN,None
12,65b245d1799b8a7fb2afc7be,659bf2835e1bc673d7db47ac,Fashion & Apparel,1,1,NaN,None
13,65ba18a9b2ac046088bb6fb7,659bf2825e1bc673d7db4764,Education & Training,1,1,NaN,None
14,65ba6b0eb2ac046088bb87c3,659bf2825e1bc673d7db4764,Education & Training,1,1,NaN,None
15,65bd165e61694388762d2a33,659bf2815e1bc673d7db4736,Business Services,1,1,NaN,None
16,65c0f6f0eb56ef9dc2b8057d,659bf2835e1bc673d7db47ac,Fashion & Apparel,6,3,NaN,None
17,65c10161eb56ef9dc2b80d43,659bf2835e1bc673d7db47ac,Fashion & Apparel,10,1,NaN,None
18,65c1f2a7f04ef8f7c41cd185,659bf2835e1bc673d7db47ac,Fashion & Apparel,1,1,NaN,None
19,65c34b2d379f4feaceceff7e,659bf2835e1bc673d7db47ac,Fashion & Apparel,3,1,NaN,None
20,65c34e5e379f4feacecf0393,659bf2835e1bc673d7db47d0,Food Vendors,9,3,NaN,None
21,65c37856dbeaaa0ff5a7934d,659bf2815e1bc673d7db4736,Business Services,2,1,NaN,None
22,65c40525fcc587c98de016af,659bf2825e1bc673d7db4776,Electronics & Gadgets,1,1,3.5,Above Average
23,65c4dc8f1f9ea85550ec3fba,659bf2825e1bc673d7db4764,Education & Training,5,3,NaN,None
24,65ca56f65718b57cc66bf31b,659bf2825e1bc673d7db479a,Event & Conferences,1,1,3.8,Above Average
25,65cfd5a0c069c2326728db66,659bf2815e1bc673d7db4736,Business Services,1,1,NaN,None

In [ ]:
result_df.to_sql(schema='analytics', name= 'stg_parrot_business_profile', con = engine, if_exists='replace', index=False)

ImportError: Unable to find a usable engine; tried using: 'sqlalchemy'.
A suitable version of sqlalchemy is required for sql I/O support.
Trying to import the above resulted in these errors:
 - Pandas requires version '1.4.36' or newer of 'sqlalchemy' (version '1.4.31' currently installed).

#### Direct extraction

In [ ]:
#new metric_map
metric_map = {
       '659bf2825e1bc673d7db479a': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],    
       '659bf2825e1bc673d7db4776': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
       '659bf2815e1bc673d7db471a': ['Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience'],
       '659bf2805e1bc673d7db46f9': ['Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism']    

#        '655168fa6137c752e8ba4f8e': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],
#        '655168fb6137c752e8ba4fd0': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
    }


# calculate_rating_score(row)
def calculate_rating_score(row):
    if row['businessCategory'] == "659bf2825e1bc673d7db479a":
        metrics = [row['Session Quality'], row['Organization'], row['Safety & Security'], row['Networking & Interaction']]
        
    elif row['businessCategory'] == "659bf2825e1bc673d7db4776":
        metrics = [row['Product Quality'], row['Customer Service'], row['Buying Experience'], row['Packaging']]

    elif row['businessCategory'] == "659bf2815e1bc673d7db471a":
        metrics = [row['Service Quality'], row['Customer Service'], row['Professionalism'], row['Cleanliness & Ambience']]

    elif row['businessCategory'] == "659bf2805e1bc673d7db46f9":
        metrics = [row['Customer Service'], row['Appointment Flexibility'], row['Wait Time'], row['Professionalism']]

#     elif row['businessCategory'] == "659bf2825e1bc673d7db479a":
#         metrics = [row['Session Quality'], row['Organization'], row['Safety & Security'], row['Networking & Interaction']]        
        
    else:
        return np.nan

    return round(np.nanmean(metrics), 1)

# Function to determine parrot_score_likert_scale_grade
def parrot_score_grade(score):
    if score <= 1.4:
        return 'Extremely Poor'
    elif 1.5 <= score <= 1.9:
        return 'Very Poor'
    elif 2.0 <= score <= 2.4:
        return 'Poor'
    elif 2.5 <= score <= 2.9:
        return 'Below Average'  
    elif 3.0 <= score <= 3.4:
        return 'Average'
    elif 3.5 <= score <= 3.9:
        return 'Above Average'
    elif 4.0 <= score <= 4.4:
        return 'Good'
    elif 4.5 <= score <= 4.9:
        return 'Very Good'
    elif score >= 5.0:
        return 'Excellent'
    else:
        return None



reviews_data  = list(db["reviews"].find())
# reviews_data = extract_rating(reviews_data) #Not needed anymore
reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
# delete columns the the prefix of "replies_"
del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
reviews_df = reviews_df.drop(columns=del_cols, axis=1)
    
# convert key columns to string
reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  
reviews_df


#process reviews collection into a dataframe
category_data = list(db["categories"].find()) 
category_df = pd.DataFrame(category_data)


# convert key columns to string
category_df['_id'] = category_df['_id'].astype(str).str.strip()
category_df

## Process the data for parrot scores
reviews_df['rating_score'] = reviews_df.apply(calculate_rating_score, axis=1)

# Group by 'business_id' and 'category_id' and aggregate
aggregate_scores = reviews_df.groupby(['business', 'businessCategory']).agg(
                                        parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                        review_count=('_id', 'count'),        # Count of all records
                                        user_count  =('user', 'nunique')      # Count of distinct user IDs
                                    ).reset_index()

merged_df = pd.merge(aggregate_scores, category_df, left_on='businessCategory', right_on='_id', how='left')
# #apply the liker_scale interpretation of the parrot_score
merged_df['parrot_score_likert_scale_grade'] = merged_df['parrot_score'].apply(parrot_score_grade)


# Selecting required columns
result_df = merged_df[['business', 'businessCategory', 'name', 'review_count', 'user_count', 'parrot_score', 'parrot_score_likert_scale_grade']]

result_df = result_df.rename(columns={'name': 'category_name'})

# Convert final DataFrame to JSON
result = result_df.to_dict(orient='records')

result_df

In [ ]:
reviews_data  = list(db["reviews"].find())
# reviews_data = extract_rating(reviews_data) #Not needed anymore
reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
# delete columns the the prefix of "replies_"
del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
reviews_df = reviews_df.drop(columns=del_cols, axis=1)

# convert key columns to string
reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  


# reviews_df pd.to_datetime(reviews_df['timestamp_column']).dt.date
reviews_df['updatedAt'] = pd.to_datetime(reviews_df['updatedAt']).dt.date


reviews_df

,_id,business,businessCategory,dateOfExperience,experienceSummary,images,upVotes,downVotes,downVoters,upVoters,user,replies,createdAt,updatedAt,__v,Session Quality,Organization,Safety & Security,Networking & Interaction,isFlagged,Product Quality,Customer Service,Buying Experience,Packaging,Cleanliness & Ambience,Professionalism,Service Quality,Appointment Flexibility,Wait Time,imagesForFlagging,reasonForFlagging,Fees & Charges,Complaint Handling,Value for Money,Quality of Work,Project Timeliness,Budget Adherence,Quality of Curriculum,Quality of Instructors,Learning Experience
0,656e49911dd789f3fb060396,6555d12895dac0d986f28340,659bf2825e1bc673d7db479a,2023-12-01,I really enjoyed my session but i am skeptical...,[{'url': 'https://zacracdotcom.s3.us-east-2.am...,1,1,[65543e9bb7ec3aaa854e6d3d],[65543e9bb7ec3aaa854e6d3d],65543e9bb7ec3aaa854e6d3d,"[65727bfe72ad40c308978b9f, 6572857b72ad40c3089...",2023-12-04 21:50:09.424,2023-12-20,0,4.0,3.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,656e49ae1dd789f3fb0603a5,6555d12895dac0d986f28340,659bf2825e1bc673d7db479a,2023-12-01,I really enjoyed my session but i am skeptical...,[{'url': 'https://zacracdotcom.s3.us-east-2.am...,1,1,[65543e9bb7ec3aaa854e6d3d],[65543e9bb7ec3aaa854e6d3d],65543e9bb7ec3aaa854e6d3d,"[65728f5a6bd8bb82324a7888, 65728fb36bd8bb82324...",2023-12-04 21:50:38.216,2023-12-09,0,4.0,3.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6597a0fcd4b13b5997689f92,6553433d0dff2bc9d88c36be,659bf2825e1bc673d7db4776,2024-01-05,"Solid products, poor packaging",[{'url': 'https://zacracdotcom.s3.us-east-2.am...,0,0,[],[],65543e9bb7ec3aaa854e6d3d,[],2024-01-05 06:26:04.518,2024-01-05,0,NaN,NaN,NaN,NaN,False,5.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,65a66b78897048e5a297eea6,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,2024-01-10,werghgfdc,[],7,5,"[65ae6f605048dc0bd23a11d6, 655730a48c2e22c58e6...","[65ae6f605048dc0bd23a11d6, 655730a48c2e22c58e6...",65543e9bb7ec3aaa854e6d3d,[],2024-01-16 11:41:44.559,2024-01-25,0,NaN,NaN,NaN,NaN,False,NaN,2.0,NaN,NaN,2.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,65a66e0d897048e5a297eee5,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,2024-01-11,njg,[],3,1,[65ae6f605048dc0bd23a11d6],"[65ae6f605048dc0bd23a11d6, 65b234ee3d56fd7e627...",65543e9bb7ec3aaa854e6d3d,NaN,2024-01-16 11:52:45.531,2024-01-25,0,NaN,NaN,NaN,NaN,False,NaN,3.0,NaN,NaN,3.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,65bb83d029e960ead78b3ce2,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,2024-02-01,Good spa,[],0,0,[],[],655730a48c2e22c58e6040fe,[],2024-02-01 11:43:12.429,2024-02-01,0,NaN,NaN,NaN,NaN,False,NaN,3.5,NaN,NaN,3.0,3.0,4.0,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,65bb847a29e960ead78b3d1d,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,2024-02-01,Good beauty spa in Osun,[],0,0,[],[],655730a48c2e22c58e6040fe,[],2024-02-01 11:46:02.636,2024-02-01,0,NaN,NaN,NaN,NaN,False,NaN,3.0,NaN,NaN,3.0,3.0,4.0,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,65bb990129e960ead78b4081,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,2024-02-01,Good spa in Soun,[],0,0,[],[],655730a48c2e22c58e6040fe,[],2024-02-01 13:13:37.407,2024-02-01,0,NaN,NaN,NaN,NaN,False,NaN,3.0,NaN,NaN,3.0,3.0,4.0,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,65bcffb961694388762d2373,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,2024-02-02,Nice spa in Nigeria,[],0,0,[],[],65543e9bb7ec3aaa854e6d3d,[],2024-02-02 14:44:09.433,2024-02-02,0,NaN,NaN,NaN,NaN,False,NaN,3.5,NaN,NaN,3.0,2.5,4.0,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,65bd168b61694388762d2a4a,65bd165e61694388762d2a33,659bf2815e1bc673d7db4736,2024-02-02,Nice business,[],0,0,[],[],655730a48c2e22c58e6040fe,[],2024-02-02 16:21:31.751,2024-02-02,0,NaN,NaN,NaN,NaN,False,NaN,3.0,NaN,NaN,NaN,3.0,3.5,NaN,NaN,[],NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
reviews_df['updatedAt'] = pd.to_datetime(reviews_df['updatedAt']).dt.date

### parrot_business_profile

In [ ]:
import urllib
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
# import pymongo
from pymongo import MongoClient
import pandas as pd
import numpy as np
import time

# Set display options to show all columns without truncation
import pandas as pd

pd.set_option('display.max_columns', None)

# pwd    = 'L}wtW3=e'
# user   = 'postgres'
# db     = 'parrotdb'
# port   =  5432
# host   = 'postgres.cienffwxuewp.us-east-2.rds.amazonaws.com'
# schema = 'analytics'

pwd    = 'L}wtW3=e'
user   = 'postgres'
db     = 'postgres'
port   =  5432
host   = 'postgres.cienffwxuewp.us-east-2.rds.amazonaws.com'
schema = 'postgres'


# connect to the postgres database
engine = create_engine(f"postgresql://{user}:{pwd}@{host}:{port}/{db}")
conn   = engine.raw_connection()
cursor = conn.cursor()

client = MongoClient('mongodb+srv://engineering:DIAmond2018@cluster0.4zizg8g.mongodb.net/')

db = client["staging"]  # Select appropriate database name


# Close the MongoDB connection
# client.close()

# # truncate table
# def truncate_table(table_name):
#     try:
#         # Construct the SQL query to truncate the table
#         truncate_query = f"TRUNCATE TABLE analytics.{table_name};"
#         cursor.execute(truncate_query)
#         conn.commit()
#         print(f"Table '{table_name}' truncated successfully.")

#     except Exception as e:
#         #conn.commit()
#         print(f"Error: {e}")

In [ ]:
# Modified calculate_rating_score(row)
def calculate_rating_score(row):
    if row['businessCategory'] == "659bf2825e1bc673d7db479a":
        metrics = [row['Session Quality'], row['Organization'], row['Safety & Security'], row['Networking & Interaction']]
        metric_means = {'Session Quality': np.nanmean(row['Session Quality']),
                'Organization': np.nanmean(row['Organization']),
                'Safety & Security': np.nanmean(row['Safety & Security']),
                'Networking & Interaction': np.nanmean(row['Networking & Interaction'])}
        
    elif row['businessCategory'] == "659bf2825e1bc673d7db4776":
        metrics = [row['Product Quality'], row['Customer Service'], row['Buying Experience'], row['Packaging']]
        metric_means = {'Product Quality': np.nanmean(row['Product Quality']),
                        'Customer Service': np.nanmean(row['Customer Service']),
                        'Buying Experience': np.nanmean(row['Buying Experience']),
                        'Packaging': np.nanmean(row['Packaging'])}        

    elif row['businessCategory'] == "659bf2815e1bc673d7db471a":
        metrics = [row['Service Quality'], row['Customer Service'], row['Professionalism'], row['Cleanliness & Ambience']]
        metric_means = {'Service Quality': np.nanmean(row['Service Quality']),
                        'Customer Service': np.nanmean(row['Customer Service']),
                        'Professionalism': np.nanmean(row['Professionalism']),
                        'Cleanliness & Ambience': np.nanmean(row['Cleanliness & Ambience'])}

    elif row['businessCategory'] == "659bf2805e1bc673d7db46f9":
        metrics = [row['Customer Service'], row['Appointment Flexibility'], row['Wait Time'], row['Professionalism']]
        metric_means = {'Customer Service': np.nanmean(row['Customer Service']),
                        'Appointment Flexibility': np.nanmean(row['Appointment Flexibility']),
                        'Wait Time': np.nanmean(row['Wait Time']),
                        'Professionalism': np.nanmean(row['Professionalism'])}            

    else:
        return np.nan, {}

    return round(np.nanmean(metrics), 1), metric_means


#new metric_map
metric_map = {
       '659bf2825e1bc673d7db479a': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],    
       '659bf2825e1bc673d7db4776': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
       '659bf2815e1bc673d7db471a': ['Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience'],
       '659bf2805e1bc673d7db46f9': ['Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism']    

#        '655168fa6137c752e8ba4f8e': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],
#        '655168fb6137c752e8ba4fd0': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
    }


# Function to determine parrot_score_likert_scale_grade
def parrot_score_grade(score):
    if score <= 1.4:
        return 'Extremely Poor'
    elif 1.5 <= score <= 1.9:
        return 'Very Poor'
    elif 2.0 <= score <= 2.4:
        return 'Poor'
    elif 2.5 <= score <= 2.9:
        return 'Below Average'  
    elif 3.0 <= score <= 3.4:
        return 'Average'
    elif 3.5 <= score <= 3.9:
        return 'Above Average'
    elif 4.0 <= score <= 4.4:
        return 'Good'
    elif 4.5 <= score <= 4.9:
        return 'Very Good'
    elif score >= 5.0:
        return 'Excellent'
    else:
        return None

In [ ]:
#Business Profile
def parrot_business_profile():
    reviews_data  = list(db["reviews"].find())
    reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
    # delete columns the the prefix of "replies_"
    del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
    reviews_df = reviews_df.drop(columns=del_cols, axis=1)

    # convert key columns to string
    reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
    reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
    reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  


    #process reviews collection into a dataframe
    category_data = list(db["categories"].find()) 
    category_df = pd.DataFrame(category_data)


    # convert key columns to string
    category_df['_id'] = category_df['_id'].astype(str).str.strip()

    # Process the data for parrot scores
    reviews_df['rating_score'], reviews_df['metric_means'] = zip(*reviews_df.apply(calculate_rating_score, axis=1))

    # Group by 'business_id' and 'category_id' and aggregate
    aggregate_scores = reviews_df.groupby(['business', 'businessCategory']).agg(
        parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)),  # Parrot Score
        review_count=('_id', 'count'),  # Count of all records
        user_count=('user', 'nunique'),  # Count of distinct user IDs
        metric_means=('metric_means', 'first')  # Mean of each metric
    ).reset_index()


    # Expand the metric_means dictionary into separate columns
    metric_means_df = pd.json_normalize(aggregate_scores['metric_means'])#.add_prefix('mean_')
    aggregate_scores = pd.concat([aggregate_scores, metric_means_df], axis=1)

    # Apply the likert_scale interpretation for each mean
    for metric in [ 'Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction',    
                    'Product Quality', 'Customer Service', 'Buying Experience', 'Packaging',
                    'Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience',
                    'Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism' ]:

        column_name = f'{metric}'
        aggregate_scores[f'{column_name} lsg'] = aggregate_scores[column_name].apply(parrot_score_grade)


    # Merge with category_df
    merged_df = pd.merge(aggregate_scores, category_df, left_on='businessCategory', right_on='_id', how='left')

    # Apply the liker_scale interpretation of the parrot_score
    merged_df['parrot_score_lsg'] = merged_df['parrot_score'].apply(parrot_score_grade)


    # Selecting required columns
    result_df = merged_df[['business', 'businessCategory', 'name', 'review_count', 'user_count', 'parrot_score', 
                           'parrot_score_lsg',

                           'Session Quality',         'Session Quality lsg',
                           'Organization',            'Organization lsg',
                           'Safety & Security',       'Safety & Security lsg',
                           'Networking & Interaction','Networking & Interaction lsg',
                           'Product Quality',         'Product Quality lsg',
                           'Buying Experience',       'Buying Experience lsg',
                           'Packaging',               'Packaging lsg',
                           'Service Quality',         'Service Quality lsg',
                           'Customer Service',        'Customer Service lsg',
                           'Cleanliness & Ambience',  'Cleanliness & Ambience lsg',
                           'Customer Service',        'Customer Service lsg',
                           'Appointment Flexibility', 'Appointment Flexibility lsg',
                           'Wait Time',               'Wait Time lsg',
                           'Professionalism',         'Professionalism lsg'
                           
                            #    'Customer Service',        'Customer Service lsg',                       
                            #    'Professionalism',         'Professionalism lsg',                           
                            #    'Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction',    
                            #    'Product Quality', 'Customer Service', 'Buying Experience', 'Packaging',
                            #    'Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience',
                            #    'Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism',

                            #     'Session Quality lsg',
                            #      'Organization lsg',
                            #      'Safety & Security lsg',
                            #      'Networking & Interaction lsg',
                            #      'Product Quality lsg',
                            #      'Customer Service lsg',
                            #      'Buying Experience lsg',
                            #      'Packaging lsg',
                            #      'Service Quality lsg',
                            #      'Professionalism lsg',
                            #      'Cleanliness & Ambience lsg',
                            #      'Appointment Flexibility lsg',
                            #      'Wait Time lsg'
                   ]]

    result_df = result_df.loc[:, ~result_df.columns.duplicated()].rename(columns={'name': 'category_name'})
    
    result_df['load_time'] = pd.to_datetime(pd.Timestamp.now()) #timestamp columns

    # Convert final DataFrame to JSON
    #result = result_df.to_dict(orient='records')
    print(f"<<<<<<  Computation ran successfully at {pd.to_datetime(pd.Timestamp.now())} >>>>>")

    return result_df

In [ ]:
result_df = parrot_business_profile()
result_df

#### Business Profile and Rating Score

In [ ]:
import urllib
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
# import pymongo
from pymongo import MongoClient
import pandas as pd
import numpy as np
import time

# Set display options to show all columns without truncation
import pandas as pd

pd.set_option('display.max_columns', None)

In [ ]:
pwd    = 'L}wtW3=e'
user   = 'postgres'
db     = 'postgres'
port   =  5432
host   = 'postgres.cienffwxuewp.us-east-2.rds.amazonaws.com'
schema = 'analytics'


# connect to the postgres database
engine = create_engine(f"postgresql://{user}:{pwd}@{host}:{port}/{db}")
conn   = engine.raw_connection()
cursor = conn.cursor()

In [ ]:
client = MongoClient('mongodb+srv://engineering:DIAmond2018@cluster0.4zizg8g.mongodb.net/')
db = client["staging"]  # Select appropriate database name

In [ ]:
# Modified calculate_rating_score(row)
def calculate_rating_score(row):
    if row['businessCategory'] == "659bf2825e1bc673d7db479a":
        metrics = [row['Session Quality'], row['Organization'], row['Safety & Security'], row['Networking & Interaction']]
        metric_means = {'Session Quality': np.nanmean(row['Session Quality']),
                'Organization': np.nanmean(row['Organization']),
                'Safety & Security': np.nanmean(row['Safety & Security']),
                'Networking & Interaction': np.nanmean(row['Networking & Interaction'])}
        
    elif row['businessCategory'] == "659bf2825e1bc673d7db4776":
        metrics = [row['Product Quality'], row['Customer Service'], row['Buying Experience'], row['Packaging']]
        metric_means = {'Product Quality': np.nanmean(row['Product Quality']),
                        'Customer Service': np.nanmean(row['Customer Service']),
                        'Buying Experience': np.nanmean(row['Buying Experience']),
                        'Packaging': np.nanmean(row['Packaging'])}        

    elif row['businessCategory'] == "659bf2815e1bc673d7db471a":
        metrics = [row['Service Quality'], row['Customer Service'], row['Professionalism'], row['Cleanliness & Ambience']]
        metric_means = {'Service Quality': np.nanmean(row['Service Quality']),
                        'Customer Service': np.nanmean(row['Customer Service']),
                        'Professionalism': np.nanmean(row['Professionalism']),
                        'Cleanliness & Ambience': np.nanmean(row['Cleanliness & Ambience'])}

    elif row['businessCategory'] == "659bf2805e1bc673d7db46f9":
        metrics = [row['Customer Service'], row['Appointment Flexibility'], row['Wait Time'], row['Professionalism']]
        metric_means = {'Customer Service': np.nanmean(row['Customer Service']),
                        'Appointment Flexibility': np.nanmean(row['Appointment Flexibility']),
                        'Wait Time': np.nanmean(row['Wait Time']),
                        'Professionalism': np.nanmean(row['Professionalism'])}            

    else:
        return np.nan, {}

    return round(np.nanmean(metrics), 1), metric_means


#new metric_map
metric_map = {
       '659bf2825e1bc673d7db479a': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],    
       '659bf2825e1bc673d7db4776': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
       '659bf2815e1bc673d7db471a': ['Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience'],
       '659bf2805e1bc673d7db46f9': ['Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism']    

#        '655168fa6137c752e8ba4f8e': ['Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction'],
#        '655168fb6137c752e8ba4fd0': ['Product Quality', 'Customer Service', 'Buying Experience', 'Packaging'],
    }


# Function to determine parrot_score_likert_scale_grade
def parrot_score_grade(score):
    if score <= 1.4:
        return 'Extremely Poor'
    elif 1.5 <= score <= 1.9:
        return 'Very Poor'
    elif 2.0 <= score <= 2.4:
        return 'Poor'
    elif 2.5 <= score <= 2.9:
        return 'Below Average'  
    elif 3.0 <= score <= 3.4:
        return 'Average'
    elif 3.5 <= score <= 3.9:
        return 'Above Average'
    elif 4.0 <= score <= 4.4:
        return 'Good'
    elif 4.5 <= score <= 4.9:
        return 'Very Good'
    elif score >= 5.0:
        return 'Excellent'
    else:
        return None

In [ ]:
#Business Profile and rating score
def parrot_business_profile_and_rating():
    reviews_data  = list(db["reviews"].find())
    reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
    # delete columns the the prefix of "replies_"
    del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
    reviews_df = reviews_df.drop(columns=del_cols, axis=1)

    # convert key columns to string
    reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
    reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
    reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  
    reviews_df['user']             = reviews_df['user'].astype(str).str.strip()  


    #process reviews collection into a dataframe
    category_data = list(db["categories"].find()) 
    category_df = pd.DataFrame(category_data)


    # convert key columns to string
    category_df['_id'] = category_df['_id'].astype(str).str.strip()

    # Process the data for parrot scores
    reviews_df['rating_score'], reviews_df['metric_means'] = zip(*reviews_df.apply(calculate_rating_score, axis=1))

    # Group by 'business_id' and 'category_id' and aggregate
    aggregate_scores = reviews_df.groupby(['business', 'businessCategory']).agg(
                                            parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                            review_count=('_id', 'count'),  # Count of all records
                                            user_count=('user', 'nunique'),  # Count of distinct user IDs
                                            metric_means=('metric_means', 'first')  # Mean of each metric
                                        ).reset_index()

    
    # rating_score_aggregate
    # Group by 'business_id', 'user' and 'category_id' and aggregate
    rating_score_aggregate = reviews_df.groupby(['user', 'business', 'businessCategory']).agg(
                                        rating_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                        review_count=('_id', 'count'),  # Count of all records
                                          ).reset_index()

    # Apply the liker_scale interpretation of the parrot_score
    rating_score_aggregate['rating_score_lsg'] = rating_score_aggregate['rating_score'].apply(parrot_score_grade)

    # Expand the metric_means dictionary into separate columns
    metric_means_df = pd.json_normalize(aggregate_scores['metric_means'])#.add_prefix('mean_')
    aggregate_scores = pd.concat([aggregate_scores, metric_means_df], axis=1)

    # Apply the likert_scale interpretation for each mean
    for metric in [ 'Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction',    
                    'Product Quality', 'Customer Service', 'Buying Experience', 'Packaging',
                    'Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience',
                    'Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism' ]:

        column_name = f'{metric}'
        aggregate_scores[f'{column_name} lsg'] = aggregate_scores[column_name].apply(parrot_score_grade)


    # Merge parrot_score with category_df
    merged_df = pd.merge(aggregate_scores, category_df, left_on='businessCategory', right_on='_id', how='left')
    
    # Merge rating_score with category_df
    rating_score_aggregate = pd.merge(rating_score_aggregate, category_df, left_on='businessCategory', right_on='_id', how='left')    

    # Apply the liker_scale interpretation of the parrot_score
    merged_df['parrot_score_lsg'] = merged_df['parrot_score'].apply(parrot_score_grade)

    # Selecting required columns
    parrot_score_df = merged_df[['business', 'businessCategory', 'name', 'review_count', 'user_count', 'parrot_score', 
                           'parrot_score_lsg',

                           'Session Quality',         'Session Quality lsg',
                           'Organization',            'Organization lsg',
                           'Safety & Security',       'Safety & Security lsg',
                           'Networking & Interaction','Networking & Interaction lsg',
                           'Product Quality',         'Product Quality lsg',
                           'Buying Experience',       'Buying Experience lsg',
                           'Packaging',               'Packaging lsg',
                           'Service Quality',         'Service Quality lsg',
                           'Customer Service',        'Customer Service lsg',
                           'Cleanliness & Ambience',  'Cleanliness & Ambience lsg',
                           'Customer Service',        'Customer Service lsg',
                           'Appointment Flexibility', 'Appointment Flexibility lsg',
                           'Wait Time',               'Wait Time lsg',
                           'Professionalism',         'Professionalism lsg'
                   ]]

    parrot_score_df = parrot_score_df.loc[:, ~parrot_score_df.columns.duplicated()].rename(columns={'name': 'category_name'})

    #timestamp column
    today = pd.to_datetime(pd.Timestamp.now()) 

    parrot_score_df['load_time'] = today #pd.to_datetime(pd.Timestamp.now()) #timestamp column
    
    rating_score_aggregate['business_user'] = rating_score_aggregate['business'] +'_'+ rating_score_aggregate['user']
    rating_score_aggregate = rating_score_aggregate[['business_user', 'business', 'user','businessCategory', 'review_count',
                                                     'rating_score', 'rating_score_lsg', 'name']]

    rating_score_aggregate = rating_score_aggregate.rename(columns={'name': 'category_name'})
    rating_score_aggregate['load_time'] = today #timestamp column to rating_scores_aggregate

    # Convert final DataFrame to JSON
    #result = result_df.to_dict(orient='records')
    print(f"<<<<<<  Computation ran successfully for parrot_score and rating_score at {pd.to_datetime(pd.Timestamp.now())} >>>>>")

    return rating_score_aggregate, parrot_score_df

In [ ]:
if __name__ == "__main__":
    while True:
        rating_scores_aggregate, parrot_score_df = parrot_business_profile_and_rating()

        # insert the extracted data into the warehouse
#         rating_scores_aggregate.to_sql(schema='analytics', name= 'stg_parrot_rating_score', con = engine, if_exists='replace', index=False)
#         print(f"<<<<<<  rating_score inserted into stg_parrot_rating_score {pd.to_datetime(pd.Timestamp.now())} >>>>>")

        # insert the extracted data into the warehouse
        parrot_score_df.to_sql(schema='analytics', name= 'stg_parrot_business_profile', con = engine, if_exists='replace', index=False)
        print(f"<<<<<<  parrot_score inserted into parrot_score {pd.to_datetime(pd.Timestamp.now())} >>>>>\n")

        time.sleep(120)

In [ ]:
rating_score_aggregate, parrot_score_df = parrot_business_profile_and_rating()

# insert the extracted data into the warehouse
# rating_scores_aggregate.to_sql(schema='analytics', name= 'stg_parrot_rating_score', con = engine, if_exists='replace', index=False)
print(f"<<<<<<  rating_score inserted into stg_parrot_rating_score {pd.to_datetime(pd.Timestamp.now())} >>>>>")

#         # Insert some records
#         cursor.execute(" CALL analytics.prc_stg_parrot_rating_score(); ")
#         conn.commit()
#         print(f"<<<<<<  stg_parrot_rating_score merged into stg_parrot_rating_score {pd.to_datetime(pd.Timestamp.now())} >>>>>")



# insert the extracted data into the warehouse
# parrot_score_df.to_sql(schema='analytics', name= 'stg_parrot_business_profile', con = engine, if_exists='replace', index=False)
print(f"<<<<<<  parrot_score inserted into parrot_score {pd.to_datetime(pd.Timestamp.now())} >>>>>\n")

# # Insert some records
# cursor.execute(" CALL analytics.prc_parrot_business_profile(); ")
# conn.commit()
# print(f"<<<<<<  stg_parrot_business_profile merged into parrot_business_profile {pd.to_datetime(pd.Timestamp.now())} >>>>>")        

# time.sleep(120)

#### rating analytics

In [ ]:
def parrot_business_profile_and_rating_test():
    reviews_data  = list(db["reviews"].find())
    reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
    # delete columns the the prefix of "replies_"
    del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
    reviews_df = reviews_df.drop(columns=del_cols, axis=1)

    # convert key columns to string
    reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
    reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
    reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  
    reviews_df['user']             = reviews_df['user'].astype(str).str.strip()  
    reviews_df['updatedAt']        = pd.to_datetime(reviews_df['updatedAt']).dt.date  #convert the datetime to date

    #process reviews collection into a dataframe
    category_data = list(db["categories"].find()) 
    category_df = pd.DataFrame(category_data)


    # convert key columns to string
    category_df['_id'] = category_df['_id'].astype(str).str.strip()

    # Process the data for parrot scores
    reviews_df['rating_score'], reviews_df['metric_means'] = zip(*reviews_df.apply(calculate_rating_score, axis=1))

    # Group by 'business_id' and 'category_id' and aggregate
    aggregate_scores = reviews_df.groupby(['business', 'businessCategory']).agg(
                                            parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                            review_count=('_id', 'count'),  # Count of all records
                                            user_count=('user', 'nunique'),  # Count of distinct user IDs
                                            metric_means=('metric_means', 'first')  # Mean of each metric
                                        ).reset_index()

    # rating_score_aggregate
    # Group by 'business_id', 'user' and 'category_id' and aggregate
    # rating_score_aggregate = reviews_df.groupby(['user', 'business', 'businessCategory']).agg(
    #                                     rating_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
    #                                     review_count=('_id', 'count'),  # Count of all records
    #                                       ).reset_index()

    rating_score_aggregate = reviews_df.groupby(['user', 'business', 'businessCategory', 'updatedAt']).agg(
                                        rating_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                        review_count=('_id', 'count'),  # Count of all records
                                          ).reset_index()


    # Apply the liker_scale interpretation of the parrot_score
    rating_score_aggregate['rating_score_lsg'] = rating_score_aggregate['rating_score'].apply(parrot_score_grade)

    # Expand the metric_means dictionary into separate columns
    metric_means_df = pd.json_normalize(aggregate_scores['metric_means'])#.add_prefix('mean_')
    aggregate_scores = pd.concat([aggregate_scores, metric_means_df], axis=1)

    # Apply the likert_scale interpretation for each mean
    for metric in [ 'Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction',    
                    'Product Quality', 'Customer Service', 'Buying Experience', 'Packaging',
                    'Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience',
                    'Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism' ]:

        column_name = f'{metric}'
        aggregate_scores[f'{column_name} lsg'] = aggregate_scores[column_name].apply(parrot_score_grade)


    # Merge parrot_score with category_df
    merged_df = pd.merge(aggregate_scores, category_df, left_on='businessCategory', right_on='_id', how='left')

    # Merge rating_score with category_df
    rating_score_aggregate = pd.merge(rating_score_aggregate, category_df, left_on='businessCategory', right_on='_id', how='left')    

    # Apply the liker_scale interpretation of the parrot_score
    merged_df['parrot_score_lsg'] = merged_df['parrot_score'].apply(parrot_score_grade)

    # Selecting required columns
    parrot_score_df = merged_df[['business', 'businessCategory', 'name', 'review_count', 'user_count', 'parrot_score', 
                           'parrot_score_lsg',

                           'Session Quality',         'Session Quality lsg',
                           'Organization',            'Organization lsg',
                           'Safety & Security',       'Safety & Security lsg',
                           'Networking & Interaction','Networking & Interaction lsg',
                           'Product Quality',         'Product Quality lsg',
                           'Buying Experience',       'Buying Experience lsg',
                           'Packaging',               'Packaging lsg',
                           'Service Quality',         'Service Quality lsg',
                           'Customer Service',        'Customer Service lsg',
                           'Cleanliness & Ambience',  'Cleanliness & Ambience lsg',
                           'Customer Service',        'Customer Service lsg',
                           'Appointment Flexibility', 'Appointment Flexibility lsg',
                           'Wait Time',               'Wait Time lsg',
                           'Professionalism',         'Professionalism lsg'
                   ]]

    parrot_score_df = parrot_score_df.loc[:, ~parrot_score_df.columns.duplicated()].rename(columns={'name': 'category_name'})

    #timestamp column
    today = pd.to_datetime(pd.Timestamp.now()) 

    parrot_score_df['load_time'] = today #pd.to_datetime(pd.Timestamp.now()) #timestamp column

    rating_score_aggregate['business_user'] = rating_score_aggregate['business'] +'_'+ rating_score_aggregate['user']
    rating_score_aggregate = rating_score_aggregate[['business_user', 'business', 'user','businessCategory','updatedAt', 'review_count',
                                                     'rating_score', 'rating_score_lsg', 'name']]

    rating_score_aggregate = rating_score_aggregate.rename(columns={'name': 'category_name'})
    rating_score_aggregate['load_time'] = today #timestamp column to rating_scores_aggregate

    # Convert final DataFrame to JSON
    #result = result_df.to_dict(orient='records')
    print(f"<<<<<<  Computation ran successfully for parrot_score and rating_score at {pd.to_datetime(pd.Timestamp.now())} >>>>>")

    return rating_score_aggregate, parrot_score_df

In [ ]:
rating_score_aggregate, parrot_score_df = parrot_business_profile_and_rating_test()

<<<<<<  Computation ran successfully for parrot_score and rating_score at 2024-02-05 12:47:32.475838 >>>>>

C:\Users\A\AppData\Local\Temp/ipykernel_18448/2180283745.py:27: RuntimeWarning: Mean of empty slice
  'Appointment Flexibility': np.nanmean(row['Appointment Flexibility']),
C:\Users\A\AppData\Local\Temp/ipykernel_18448/2180283745.py:28: RuntimeWarning: Mean of empty slice
  'Wait Time': np.nanmean(row['Wait Time']),
C:\Users\A\AppData\Local\Temp/ipykernel_18448/2180283745.py:19: RuntimeWarning: Mean of empty slice
  metric_means = {'Service Quality': np.nanmean(row['Service Quality']),
C:\Users\A\AppData\Local\Temp/ipykernel_18448/2180283745.py:20: RuntimeWarning: Mean of empty slice
  'Customer Service': np.nanmean(row['Customer Service']),
C:\Users\A\AppData\Local\Temp/ipykernel_18448/2180283745.py:22: RuntimeWarning: Mean of empty slice
  'Cleanliness & Ambience': np.nanmean(row['Cleanliness & Ambience'])}
C:\Users\A\AppData\Local\Temp/ipykernel_18448/1918997316.py:42: RuntimeWarning: Mean of empty slice
  rating_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score

In [ ]:
rating_score_aggregate

,business_user,business,user,businessCategory,updatedAt,review_count,rating_score,rating_score_lsg,category_name,load_time
0,6553433d0dff2bc9d88c36be_65543e9bb7ec3aaa854e6d3d,6553433d0dff2bc9d88c36be,65543e9bb7ec3aaa854e6d3d,659bf2825e1bc673d7db4776,2024-01-05,1,3.5,Above Average,Electronics & Gadgets,2024-02-05 12:47:32.466861
1,6555d12895dac0d986f28340_65543e9bb7ec3aaa854e6d3d,6555d12895dac0d986f28340,65543e9bb7ec3aaa854e6d3d,659bf2825e1bc673d7db479a,2023-12-09,1,3.0,Average,Event & Conferences,2024-02-05 12:47:32.466861
2,6555d12895dac0d986f28340_65543e9bb7ec3aaa854e6d3d,6555d12895dac0d986f28340,65543e9bb7ec3aaa854e6d3d,659bf2825e1bc673d7db479a,2023-12-20,1,3.0,Average,Event & Conferences,2024-02-05 12:47:32.466861
3,659c206fdbb315fedaeb5072_65543e9bb7ec3aaa854e6d3d,659c206fdbb315fedaeb5072,65543e9bb7ec3aaa854e6d3d,659bf2815e1bc673d7db471a,2024-01-25,2,2.8,Below Average,Beauty And Well Being,2024-02-05 12:47:32.466861
4,659c206fdbb315fedaeb5072_65543e9bb7ec3aaa854e6d3d,659c206fdbb315fedaeb5072,65543e9bb7ec3aaa854e6d3d,659bf2815e1bc673d7db471a,2024-01-31,1,3.5,Above Average,Beauty And Well Being,2024-02-05 12:47:32.466861
5,659c206fdbb315fedaeb5072_65543e9bb7ec3aaa854e6d3d,659c206fdbb315fedaeb5072,65543e9bb7ec3aaa854e6d3d,659bf2815e1bc673d7db471a,2024-02-01,1,2.2,Poor,Beauty And Well Being,2024-02-05 12:47:32.466861
6,659c206fdbb315fedaeb5072_65543e9bb7ec3aaa854e6d3d,659c206fdbb315fedaeb5072,65543e9bb7ec3aaa854e6d3d,659bf2815e1bc673d7db471a,2024-02-02,1,3.2,Average,Beauty And Well Being,2024-02-05 12:47:32.466861
7,659bf32d5e1bc673d7db490d_655730a48c2e22c58e6040fe,659bf32d5e1bc673d7db490d,655730a48c2e22c58e6040fe,659bf2805e1bc673d7db46f9,2024-01-17,1,2.5,Below Average,Banking And Finance,2024-02-05 12:47:32.466861
8,659c15776932fc2cfbcaedf6_655730a48c2e22c58e6040fe,659c15776932fc2cfbcaedf6,655730a48c2e22c58e6040fe,659bf2825e1bc673d7db479a,2024-01-17,6,3.2,Average,Event & Conferences,2024-02-05 12:47:32.466861
9,659c15776932fc2cfbcaedf6_655730a48c2e22c58e6040fe,659c15776932fc2cfbcaedf6,655730a48c2e22c58e6040fe,659bf2825e1bc673d7db479a,2024-01-25,1,3.5,Above Average,Event & Conferences,2024-02-05 12:47:32.466861
10,659c206fdbb315fedaeb5072_655730a48c2e22c58e6040fe,659c206fdbb315fedaeb5072,655730a48c2e22c58e6040fe,659bf2815e1bc673d7db471a,2024-01-25,1,3.5,Above Average,Beauty And Well Being,2024-02-05 12:47:32.466861
11,659c206fdbb315fedaeb5072_655730a48c2e22c58e6040fe,659c206fdbb315fedaeb5072,655730a48c2e22c58e6040fe,659bf2815e1bc673d7db471a,2024-02-01,4,3.3,Average,Beauty And Well Being,2024-02-05 12:47:32.466861
12,659c206fdbb315fedaeb5072_655730a48c2e22c58e6040fe,659c206fdbb315fedaeb5072,655730a48c2e22c58e6040fe,659bf2815e1bc673d7db471a,2024-02-03,1,3.5,Above Average,Beauty And Well Being,2024-02-05 12:47:32.466861
13,65bd165e61694388762d2a33_655730a48c2e22c58e6040fe,65bd165e61694388762d2a33,655730a48c2e22c58e6040fe,659bf2815e1bc673d7db4736,2024-02-02,1,NaN,None,Business Services,2024-02-05 12:47:32.466861
14,659ee3ff0b02a0143ec9876f_658dc028931ece7140a3eec7,659ee3ff0b02a0143ec9876f,658dc028931ece7140a3eec7,659bf2805e1bc673d7db46f9,2024-01-17,1,3.2,Average,Banking And Finance,2024-02-05 12:47:32.466861
15,659bf32d5e1bc673d7db490d_65ae6f605048dc0bd23a11d6,659bf32d5e1bc673d7db490d,65ae6f605048dc0bd23a11d6,659bf2805e1bc673d7db46f9,2024-01-31,1,4.0,Good,Banking And Finance,2024-02-05 12:47:32.466861
16,659c206fdbb315fedaeb5072_65ae6f605048dc0bd23a11d6,659c206fdbb315fedaeb5072,65ae6f605048dc0bd23a11d6,659bf2815e1bc673d7db471a,2024-01-25,1,3.8,Above Average,Beauty And Well Being,2024-02-05 12:47:32.466861
17,659c206fdbb315fedaeb5072_65ae6f605048dc0bd23a11d6,659c206fdbb315fedaeb5072,65ae6f605048dc0bd23a11d6,659bf2815e1bc673d7db471a,2024-01-31,1,4.2,Good,Beauty And Well Being,2024-02-05 12:47:32.466861
18,659ec068c11598976fb7c114_65b232bb3d56fd7e6272c8fa,659ec068c11598976fb7c114,65b232bb3d56fd7e6272c8fa,659bf2815e1bc673d7db4736,2024-01-25,2,NaN,None,Business Services,2024-02-05 12:47:32.466861
19,65b23fae3d56fd7e6272dc26_65b2332b3d56fd7e6272c92a,65b23fae3d56fd7e6272dc26,65b2332b3d56fd7e6272c92a,659bf2815e1bc673d7db4752,2024-01-25,2,NaN,None,Construction,2024-02-05 12:47:32.466861
20,659c206fdbb315fedaeb5072_65b233883d56fd7e6272c95f,659c206fdbb315fedaeb5072,65b233883d56fd7e6272c95f,659bf2815e1bc673d7db471a,2024-01-25,2,2.8,Below Average,Beauty And Well Being,2024-02-05 12:47:32.466861
21,65b0d4b848a60b0d34290d6b_65b233943d56fd7e6272c966,65b0d4b848a60b0d34290d6b,65b233943d56fd7e6272c966,659bf2805e1bc673d7db46f9,2024-01-25,3,2.0,Poor,Banking And Finance,2024-02-05 12:47:32.466861
22,659c15776932fc2cfbcaedf6_65b234ee3d56fd7e6272c9e2,659c15776932fc2cfbcaedf6,65b234ee3d56fd7e6272c9e2,659bf2825e1bc673d7db479a,2024-01-25,4,3.8,Above Average,Event & Conferences,2024-02-05 12:47:32.466861
23,659bf59f5e1bc673d7db4955_65b234f93d56fd7e6272c9fa,659bf59f5e1bc673d7db4955,65b234f93d56fd7e6272c9fa,659bf2805e1bc673d7db46f9,2024-01-25,1,3.5,Above Average,Banking And Finance,2024-02-05 12:47:32.466861
24,659c206fdbb315fedaeb5072_65b234f93d56fd7e6272c9fa,659c206fdbb315fedaeb5072,65b234f93d56fd7e6272c9fa,659bf2815e1bc673d7db471a,2024-02-01,1,4.0,Good,Beauty And Well Being,2024-02-05 12:47:32.466861
25,65a9b844da63216cd3c55f92_65b234f93d56fd7e6272c9fa,65a9b844da63216cd3c55f92,65b234f93d56fd7e6272c9fa,659bf2805e1bc673d7db46f9,2024-01-25,2,4.0,Good,Banking And Finance,2024-02-05 12:47:32.466861
26,65a91454d5820238d08ed10b_65b238b23d56fd7e6272cf34,65a91454d5820238d08ed10b,65b238b23d56fd7e6272cf34,659bf2805e1bc673d7db46f9,2024-01-31,2,2.5,Below Average,Banking And Finance,2024-02-05 12:47:32.466861
27,659c206fdbb315fedaeb5072_65b240b13d56fd7e6272dd6a,659c206fdbb315fedaeb5072,65b240b13d56fd7e6272dd6a,659bf2815e1bc673d7db471a,2024-01-25,1,5.0,Excellent,Beauty And Well Being,2024-02-05 12:47:32.466861
28,659ec068c11598976fb7c114_65b240b13d56fd7e6272dd6a,659ec068c11598976fb7c114,65b240b13d56fd7e6272dd6a,659bf2815e1bc673d7db4736,2024-01-25,1,NaN,None,Business Services,2024-02-05 12:47:32.466861
29,659c206fdbb315fedaeb5072_65ba12a6b2ac046088bb6b40,659c206fdbb315fedaeb5072,65ba12a6b2ac046088bb6b40,659bf2815e1bc673d7db471a,2024-01-31,2,3.6,Above Average,Beauty And Well Being,2024-02-05 12:47:32.466861
30,65b23fae3d56fd7e6272dc26_65ba1539b2ac046088bb6b5d,65b23fae3d56fd7e6272dc26,65ba1539b2ac046088bb6b5d,659bf2815e1bc673d7db4752,2024-01-31,4,NaN,None,Construction,2024-02-05 12:47:32.466861
31,659ec068c11598976fb7c114_65ba1578b2ac046088bb6b79,659ec068c11598976fb7c114,65ba1578b2ac046088bb6b79,659bf2815e1bc673d7db4736,2024-01-31,2,NaN,None,Business Services,2024-02-05 12:47:32.466861
32,659c206fdbb315fedaeb5072_65ba1586b2ac046088bb6b87,659c206fdbb315fedaeb5072,65ba1586b2ac046088bb6b87,659bf2815e1bc673d7db471a,2024-01-31,1,4.0,Good,Beauty And Well Being,2024-02-05 12:47:32.466861
33,65b0d4b848a60b0d34290d6b_65ba1586b2ac046088bb6b87,65b0d4b848a60b0d34290d6b,65ba1586b2ac046088bb6b87,659bf2805e1bc673d7db46f9,2024-01-31,4,3.0,Average,Banking And Finance,2024-02-05 12:47:32.466861
34,65ba18a9b2ac046088bb6fb7_65ba1616b2ac046088bb6c67,65ba18a9b2ac046088bb6fb7,65ba1616b2ac046088bb6c67,659bf2825e1bc673d7db4764,2024-01-31,1,NaN,None,Education & Training,2024-02-05 12:47:32.466861
35,659c206fdbb315fedaeb5072_65ba1679b2ac046088bb6cb4,659c206fdbb315fedaeb5072,65ba1679b2ac046088bb6cb4,659bf2815e1bc673d7db471a,2024-01-31,3,3.1,Average,Beauty And Well Being,2024-02-05 12:47:32.466861
36,659ec068c11598976fb7c114_65ba1679b2ac046088bb6cb4,659ec068c11598976fb7c114,65ba1679b2ac046088bb6cb4,659bf2815e1bc673d7db4736,2024-01-31,1,NaN,None,Business Services,2024-02-05 12:47:32.466861
37,659ee3ff0b02a0143ec9876f_65ba17d9b2ac046088bb6e2c,659ee3ff0b02a0143ec9876f,65ba17d9b2ac046088bb6e2c,659bf2805e1bc673d7db46f9,2024-01-31,1,3.5,Above Average,Banking And Finance,2024-02-05 12:47:32.466861
38,659bf32d5e1bc673d7db490d_65ba2a9cb2ac046088bb7956,659bf32d5e1bc673d7db490d,65ba2a9cb2ac046088bb7956,659bf2805e1bc673d7db46f9,2024-01-31,6,3.5,Above Average,Banking And Finance,2024-02-05 12:47:32.466861
39,65ba6b0eb2ac046088bb87c3_65ba32c5b2ac046088bb7bd4,65ba6b0eb2ac046088bb87c3,65ba32c5b2ac046088bb7bd4,659bf2825e1bc673d7db4764,2024-01-31,1,NaN,None,Education & Training,2024-02-05 12:47:32.466861

In [ ]:
parrot_score_df

,business,businessCategory,category_name,review_count,user_count,parrot_score,parrot_score_lsg,Session Quality,Session Quality lsg,Organization,Organization lsg,Safety & Security,Safety & Security lsg,Networking & Interaction,Networking & Interaction lsg,Product Quality,Product Quality lsg,Buying Experience,Buying Experience lsg,Packaging,Packaging lsg,Service Quality,Service Quality lsg,Customer Service,Customer Service lsg,Cleanliness & Ambience,Cleanliness & Ambience lsg,Appointment Flexibility,Appointment Flexibility lsg,Wait Time,Wait Time lsg,Professionalism,Professionalism lsg,load_time
0,6553433d0dff2bc9d88c36be,659bf2825e1bc673d7db4776,Electronics & Gadgets,1,1,3.5,Above Average,NaN,None,NaN,None,NaN,None,NaN,None,5.0,Excellent,3.0,Average,2.0,Poor,NaN,None,4.0,Good,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
1,6555d12895dac0d986f28340,659bf2825e1bc673d7db479a,Event & Conferences,2,1,3.0,Average,4.0,Good,3.0,Average,1.0,Extremely Poor,4.0,Good,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
2,659bf32d5e1bc673d7db490d,659bf2805e1bc673d7db46f9,Banking And Finance,8,3,3.4,Average,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,4.0,Good,NaN,None,3.0,Average,2.0,Poor,1.0,Extremely Poor,2024-02-05 12:33:53.651795
3,659bf59f5e1bc673d7db4955,659bf2805e1bc673d7db46f9,Banking And Finance,1,1,3.5,Above Average,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,4.0,Good,NaN,None,NaN,None,NaN,None,3.0,Average,2024-02-05 12:33:53.651795
4,659c15776932fc2cfbcaedf6,659bf2825e1bc673d7db479a,Event & Conferences,11,2,3.4,Average,5.0,Excellent,4.0,Good,3.0,Average,2.0,Poor,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
5,659c206fdbb315fedaeb5072,659bf2815e1bc673d7db471a,Beauty And Well Being,23,9,3.4,Average,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,3.0,Average,2.0,Poor,2.0,Poor,NaN,None,NaN,None,4.0,Good,2024-02-05 12:33:53.651795
6,659ec068c11598976fb7c114,659bf2815e1bc673d7db4736,Business Services,6,4,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
7,659ee3ff0b02a0143ec9876f,659bf2805e1bc673d7db46f9,Banking And Finance,2,2,3.4,Average,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,3.0,Average,NaN,None,4.0,Good,4.0,Good,2.0,Poor,2024-02-05 12:33:53.651795
8,65a91454d5820238d08ed10b,659bf2805e1bc673d7db46f9,Banking And Finance,2,1,2.5,Below Average,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,4.5,Very Good,NaN,None,NaN,None,NaN,None,0.5,Extremely Poor,2024-02-05 12:33:53.651795
9,65a9b844da63216cd3c55f92,659bf2805e1bc673d7db46f9,Banking And Finance,2,1,4.0,Good,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,4.0,Good,NaN,None,NaN,None,NaN,None,4.0,Good,2024-02-05 12:33:53.651795
10,65b0d4b848a60b0d34290d6b,659bf2805e1bc673d7db46f9,Banking And Finance,7,2,2.6,Below Average,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,4.0,Good,NaN,None,NaN,None,NaN,None,1.0,Extremely Poor,2024-02-05 12:33:53.651795
11,65b23fae3d56fd7e6272dc26,659bf2815e1bc673d7db4752,Construction,6,2,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
12,65ba18a9b2ac046088bb6fb7,659bf2825e1bc673d7db4764,Education & Training,1,1,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
13,65ba6b0eb2ac046088bb87c3,659bf2825e1bc673d7db4764,Education & Training,1,1,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795
14,65bd165e61694388762d2a33,659bf2815e1bc673d7db4736,Business Services,1,1,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,2024-02-05 12:33:53.651795

In [ ]:
df['timestamp_column'] = pd.to_datetime(df['timestamp_column']).dt.date

In [ ]:
# !pip install --upgrade sqlalchemy psycopg2

In [ ]:
# Insert some records
cursor.execute(" CALL analytics.prc_parrot_business_profile(); ")
conn.commit()

#### Postgres Notification

In [ ]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# pwd    = 'L}wtW3=e'
# user   = 'postgres'
# db     = 'postgres'
# port   =  5432
# host   = 'postgres.cienffwxuewp.us-east-2.rds.amazonaws.com'
# schema = 'analytics'

def notification_handler(notify):
    print(f"Received notification: {notify.payload}")

def listen_to_notifications(pwd, user, host, db, port):
    conn = psycopg2.connect(
            host   = 'postgres.cienffwxuewp.us-east-2.rds.amazonaws.com',
            port= 5432,
            user= 'postgres',
            password= 'L}wtW3=e',
            database= 'postgres',
        )

    conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

    curs = conn.cursor()

    # Set up a notification channel (replace 'my_channel' with your desired channel name)
    curs.execute("LISTEN update_notification ")

    print("Listening for notifications...")

    while True:
        if conn.notifies:
            notify = conn.notifies.pop(0)
            notification_handler(notify)

if __name__ == "__main__":
    listen_to_notifications(pwd, user, host, db, port)

In [ ]:
reviews_data  = list(db["reviews"].find())
reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().replace(".",'_').replace("rating_",''))
# delete columns the the prefix of "replies_"
del_cols = [col for col in reviews_df.columns if col.startswith('replies_')]
reviews_df = reviews_df.drop(columns=del_cols, axis=1)

# convert key columns to string
reviews_df['_id']              = reviews_df['_id'].astype(str).str.strip()
reviews_df['business']         = reviews_df['business'].astype(str).str.strip()
reviews_df['businessCategory'] = reviews_df['businessCategory'].astype(str).str.strip()  
reviews_df['user']             = reviews_df['user'].astype(str).str.strip()  


#process reviews collection into a dataframe
category_data = list(db["categories"].find()) 
category_df = pd.DataFrame(category_data)


# convert key columns to string
category_df['_id'] = category_df['_id'].astype(str).str.strip()

# Process the data for parrot scores
reviews_df['rating_score'], reviews_df['metric_means'] = zip(*reviews_df.apply(calculate_rating_score, axis=1))

# Group by 'business_id' and 'category_id' and aggregate
aggregate_scores = reviews_df.groupby(['business', 'businessCategory']).agg(
                                        parrot_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                        review_count=('_id', 'count'),  # Count of all records
                                        user_count=('user', 'nunique'),  # Count of distinct user IDs
                                        metric_means=('metric_means', 'first')  # Mean of each metric
                                    ).reset_index()


# rating_score_aggregate
# Group by 'business_id', 'user' and 'category_id' and aggregate
rating_score_aggregate = reviews_df.groupby(['user', 'business', 'businessCategory']).agg(
                                    rating_score=('rating_score', lambda x: round(np.nanmean(x), 1)), # Parrot Score
                                    review_count=('_id', 'count'),  # Count of all records
                                      ).reset_index()

# Apply the liker_scale interpretation of the parrot_score
rating_score_aggregate['rating_score_lsg'] = rating_score_aggregate['rating_score'].apply(parrot_score_grade)

# Expand the metric_means dictionary into separate columns
metric_means_df = pd.json_normalize(aggregate_scores['metric_means'])#.add_prefix('mean_')
aggregate_scores = pd.concat([aggregate_scores, metric_means_df], axis=1)

# Apply the likert_scale interpretation for each mean
for metric in [ 'Session Quality', 'Organization', 'Safety & Security', 'Networking & Interaction',    
                'Product Quality', 'Customer Service', 'Buying Experience', 'Packaging',
                'Service Quality', 'Customer Service', 'Professionalism', 'Cleanliness & Ambience',
                'Customer Service', 'Appointment Flexibility', 'Wait Time', 'Professionalism' ]:

    column_name = f'{metric}'
    aggregate_scores[f'{column_name} lsg'] = aggregate_scores[column_name].apply(parrot_score_grade)


# Merge parrot_score with category_df
merged_df = pd.merge(aggregate_scores, category_df, left_on='businessCategory', right_on='_id', how='left')

# Merge rating_score with category_df
rating_score_aggregate = pd.merge(rating_score_aggregate, category_df, left_on='businessCategory', right_on='_id', how='left')

In [ ]:
# Apply the liker_scale interpretation of the parrot_score
merged_df['parrot_score_lsg'] = merged_df['parrot_score'].apply(parrot_score_grade)

# Selecting required columns
parrot_score_df = merged_df[['business', 'businessCategory', 'name', 'review_count', 'user_count', 'parrot_score', 
                       'parrot_score_lsg',

                       'Session Quality',         'Session Quality lsg',
                       'Organization',            'Organization lsg',
                       'Safety & Security',       'Safety & Security lsg',
                       'Networking & Interaction','Networking & Interaction lsg',
                       'Product Quality',         'Product Quality lsg',
                       'Buying Experience',       'Buying Experience lsg',
                       'Packaging',               'Packaging lsg',
                       'Service Quality',         'Service Quality lsg',
                       'Customer Service',        'Customer Service lsg',
                       'Cleanliness & Ambience',  'Cleanliness & Ambience lsg',
                       'Customer Service',        'Customer Service lsg',
                       'Appointment Flexibility', 'Appointment Flexibility lsg',
                       'Wait Time',               'Wait Time lsg',
                       'Professionalism',         'Professionalism lsg'
               ]]

parrot_score_df = parrot_score_df.loc[:, ~parrot_score_df.columns.duplicated()].rename(columns={'name': 'category_name'})

#timestamp column
today = pd.to_datetime(pd.Timestamp.now()) 

parrot_score_df['load_time'] = today #pd.to_datetime(pd.Timestamp.now()) #timestamp column

In [ ]:
parrot_score_df

In [ ]:
rating_score_aggregate = rating_score_aggregate[['business', 'user','businessCategory', 'review_count',
                                                 'rating_score', 'rating_score_lsg', 'name']]

In [ ]:
rating_score_aggregate = rating_score_aggregate.rename(columns={'name': 'category_name'})
rating_score_aggregate['load_time'] = today #timestamp column to rating_scores_aggregate

rating_score_aggregate

In [ ]:


# Convert final DataFrame to JSON
#result = result_df.to_dict(orient='records')
print(f"<<<<<<  Computation ran successfully for parrot_score and rating_score at {pd.to_datetime(pd.Timestamp.now())} >>>>>")

In [ ]:
def rerun():
    print(pd.to_datetime(pd.Timestamp.now()))

In [ ]:
import time
if __name__ == "__main__":
    while True:
        rerun()
        time.sleep(5)

In [ ]:
parrot_business_profile()

In [ ]:
result_df.to_sql(schema='analytics', name= 'stg_parrot_business_profile', con = engine, if_exists='replace', index=False)

In [ ]:
result_df.shape

In [ ]:
from fastapi import FastAPI
import config
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import uvicorn
from fastapi.responses import JSONResponse
import pandas as pd

my_fastapi_app = FastAPI()

# connect to the postgres database
engine = create_engine(f"postgresql://{config.user}:{config.pwd}@{config.host}:{config.port}/{config.db}")
conn = engine.raw_connection()
cursor = conn.cursor()

# Utility function to remove NaN, None, or Null values from a dictionary
def clean_dict(data: dict) -> dict:
    cleaned_data = {key: value for key, value in data.items() if pd.notna(value) and value is not None}

    # Create a metrics dictionary
    metrics = {}
    for metric in ['Product Quality', 'Buying Experience', 'Packaging', 'Customer Service']:
        metric_data = {
            metric: cleaned_data.get(metric),
            f"{metric} lsg": cleaned_data.get(f"{metric} lsg")
        }
        metrics[metric] = metric_data

    cleaned_data['metrics'] = metrics
    return cleaned_data

# fastAPI route to get records for a particular business
@my_fastapi_app.get("/v1/parrot_business_profile")
def parrot_business_profile(business_id: str):
    # Use parameterized query to prevent SQL injection
    cursor.execute(
        """
        SELECT
            *
        FROM parrotdb.analytics.stg_parrot_business_profile
        WHERE business = %s;
        """,
        (business_id,),
    )

    columns = [desc[0] for desc in cursor.description]
    result = [dict(zip(columns, row)) for row in cursor.fetchall()]

    # Clean each record in the result list
    cleaned_result = [clean_dict(record) for record in result]

    data_ = {
        "business": business_id,
        "data": cleaned_result
    }

    return data_

if __name__ == "__main__":
    uvicorn.run(my_fastapi_app, host="0.0.0.0", port=8000)

In [ ]:
## quick test with where clause
reviews_df[reviews_df['businessCategory'] == '659bf2825e1bc673d7db4776']

In [ ]:
## quick test with where clause
category_df[category_df['_id'] == '655168fb6137c752e8ba4fd0']

# 655168fa6137c752e8ba4f8e
# 655168fb6137c752e8ba4fd0

In [ ]:
category_df.to_excel('category.xlsx')
reviews_df['businessCategory'].unique().tolist()
## quick test with where clause
reviews_df[reviews_df['businessCategory'].isin('659bf2825e1bc673d7db479a', '655168fa6137c752e8ba4f8e')]

In [ ]:
#distinct business category_id
category_df['_id'].unique().tolist()

In [ ]:
###  <<<< Observations >>>> ###
1. '659bf2805e1bc673d7db46f9' have two metrics in the reveiws table

In [ ]:
print(reviews_df['business'].unique())

In [ ]:
reviews_df
category_df

In [ ]:
reviews_data  = list(db["reviews"].find())
category_data = list(db["category"].find())   

# reviews_collection = db["reviews"]
# result = reviews_collection.find()

# Convert to pandas DataFrames
reviews_df = pd.DataFrame(reviews_data)
category_df = pd.DataFrame(category_data)

## Process the data for parrot scores
reviews_df['rating_score'] = reviews_df.apply(calculate_rating_score, axis=1)

In [ ]:
#converts the data to a dataframe and stnadardize the column_names
pd.json_normalize(l).rename(columns = lambda x: x.strip().lower().replace("&",'and').replace(".",'').replace("rating",'').replace(" ",'_'))

In [ ]:

for data in l:
    # Extract the 'rating' object
    rating_objects = data.get('rating', [])

    # Flatten the 'rating' object into a dictionary
    flattened_rating = {key: value for rating_object in rating_objects for key, value in rating_object.items()}

    # Update the original data with the flattened 'rating'
    data['rating'] = flattened_rating

    # Print the updated data
    print(data)
    print("""
    """)

In [ ]:
reviews_data  = list(db["reviews"].find())
reviews_data = extract_rating(reviews_data)
reviews_df = pd.json_normalize(reviews_data).rename(columns = lambda x: x.strip().lower().replace("&",'and').replace(".",'').replace("rating",'').replace(" ",'_'))

In [ ]:
reviews_df